@import "tailwindcss";

:root {
  --font-poppins: 'Poppins', sans-serif;
}

* {
    transition: all 0.3s ease;
    font-family: var(--font-poppins);
}

@media (min-width: 1280px) {
    .main-section {
        height: 90vh;
    }
}

@media (max-width: 1280px) {
    .main-section {
        background-position: center;
        align-items: center;
        height: 50vh;
    }
}
@keyframes fall {
          0% {
            transform: translateY(-10vh) rotate(0deg);
          }
          100% {
            transform: translateY(110vh) rotate(360deg);
          }
        }
        .animate-fall {
          animation: fall linear infinite;
        }
